<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td><button type="btn">Editar</button></td>
        <td><button type="button" (click)="eliminar(usuario.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
